---

# Representation of RDBMS MySQL databse in GraphDB

---

In [1]:
import sqlalchemy

import pandas as pd

<br>

## Pandas integration with MySQL using SQLAlchemy
---

### Connecting to the existing database

We'll use the following configuration for the connection:

```python
# Database configuration
host = 'localhost'
port = 3306  # this is the default, no need to pass it to the engine

# credentials
password = 'passwd'
user = 'student'

# database dialect to be used (in our case, the database is MySQL database)
dialect = 'mysql'

# language (=python) driver
# there is a variety of other drivers, like mysql-connector, mysql-python
driver = 'pymysql'

# database name
db = 'schooldb'

# charset - in order to parse Czech characters properly
charset = 'utf8'
```

Of course, replace with **your own credentials**.

In [2]:
# Database configuration
host = 'localhost'
port = 3306  # this is the default, no need to pass it to the engine

# credentials
password = 'passwd'
user = 'student'

# database dialect to be used (in our case, the database is MySQL database)
dialect = 'mysql'

# language (=python) driver
# there is a variety of other drivers, like mysql-connector, mysql-python
driver = 'pymysql'

# database name
db = 'schooldb'

# charset - in order to parse Czech characters properly
charset = 'utf8'

In [3]:
db_uri = "{dialect}+{driver}://{user}:{pwd}@{host}:{port}/{db}?charset={chset}".format(
    dialect=dialect,
    driver=driver,
    user=user,
    pwd=password,
    host=host,
    port=port,
    db=db,
    chset=charset
)

The resulting `db_uri` looks like this:

In [4]:
db_uri

'mysql+pymysql://student:passwd@localhost:3306/schooldb?charset=utf8'

In order to connect to the database, we need to create an engine.
We'll use Python [SQLAlchemy](https://www.sqlalchemy.org/) module for that.

```python
# create the engine
engine = sqlalchemy.create_engine(db_uri)

# create connection
con = engine.connect()

# create inspector
inspector = sqlalchemy.inspect(engine)
```

In [5]:
# create the engine
engine = sqlalchemy.create_engine(db_uri)

# create connection
con = engine.connect()

# create inspector
inspector = sqlalchemy.inspect(engine)

We can now inspect the database, for example, to inspect tables:

```python
# in our case, the database contains existing data
# NOTE: many other information can be found out using the inspector
tables = inspector.get_table_names()

pd.DataFrame(tables, columns=['tables'])
```

In [6]:
# in our case, the database contains existing data
tables = inspector.get_table_names()  # many other information can be found out using the inspector

pd.DataFrame(tables, columns=['tables'])

                   tables
0               addresses
1                contacts
2                meetings
3                 persons
4        persons_meetings
5           relationships
6       types_of_contacts
7  types_of_relationships

In [7]:
# create the metadata
metadata = sqlalchemy.MetaData(bind=engine)

# create all tables in the engine
metadata.create_all()

We can also issue sql query directly with pandas, as it integrates smoothly with SQL.

```python
pd.read_sql(
    # sql query
    sql="SHOW TABLES",
    # use the initialized connection
    con=con
)
```

In [8]:
pd.read_sql(
    sql="show tables",
    # use the initialized connection
    con=con
)

       Tables_in_schooldb
0               addresses
1                contacts
2                meetings
3                 persons
4        persons_meetings
5           relationships
6       types_of_contacts
7  types_of_relationships

Lets take a look at some possible sql integration with pandas

```python
pd.read_sql(sql="SELECT * FROM persons", con=con)
```

In [9]:
# convert sql tables to dataframes
table_dfs = {
    table: pd.read_sql(sql="SELECT * FROM %s" % table, con=con)
    for table in tables
}

In [10]:
pd.read_sql(sql="SELECT * FROM persons", con=con)

,id_person,nickname,name,surname,id_address,birthdate,height
0,1,kruťas,Radek,Krůta,34,1968-09-06,164.0
1,2,Lorenc,Tomáš,Lorenc,2,1984-12-06,184.0
2,3,Hrudík,Milan,Hruda,3,1982-01-20,180.0
3,4,Smeták,David,Kunz,4,1983-05-25,172.0
4,5,Zedňas,Michal,Zedník,5,1980-03-09,176.0
5,6,Zemák,Jaroslav,Zemek,6,1982-10-20,161.0
6,7,Tomák,Tomáš,Tomašík,7,1979-10-11,185.0
7,8,Velebník,Radek,Veleba,8,1986-04-29,194.0
8,9,Stupík,Radovan,Stupka,9,1982-02-24,175.0
9,10,Menča,Jaroslav,Menčík,10,1981-05-13,176.0
10,11,Malina,Miroslav,Malinka,11,1984-06-14,180.0
11,12,Látoš,Lubomír,Látal,10,1985-07-27,173.0
12,13,Kubík,Tomáš,Kubala,12,1964-10-09,174.0
13,14,Kalík,David,Kalivoda,13,1974-11-29,178.0
14,15,Smeták,Tomáš,Janda,14,1989-12-01,162.0
15,16,Fucha,Lubomír,Fuchs,15,1952-11-02,168.0
16,17,Bárt,Stanislav,Bartoš,16,1980-12-20,177.0
17,18,Beník,Svatopluk,Beneš,17,1942-07-16,180.0
18,19,Ambřík,Ondřej,Ambros,18,1946-01-15,166.0
19,20,Čerma,Jaroslav,Čermák,19,1979-09-30,159.0
20,21,Jarča,Jaroslava,Čermáková,19,1982-06-19,160.0
21,22,Dupi,Svatopluk,Dupal,20,1968-08-21,194.0
22,23,Houser,Luděk,Housera,21,1975-11-18,185.0
23,24,Lusi,Lucie,Houserová,21,1978-05-26,172.0
24,25,Daník,Markéta,Daňková,22,1985-11-09,165.0
25,26,Emicka111,Klára,Judexová,23,1971-01-12,185.0
26,27,Emiii4x4,Kristýna,Kadlčíková,24,1972-02-15,177.0
27,28,Helusska,Lada,Kanýzová,24,1973-03-18,168.0
28,29,hilary,Lenka,Kocmanová,25,1974-04-25,170.0
29,30,Igneess,Lenka,Kollariková,26,1975-05-01,170.0
30,31,katulka68,Lenka,Kollmannová,27,1981-10-24,168.0
31,32,kiikushka,Lenka,Kovačková,28,1976-11-28,172.0
32,33,anďa,Andrea,Kollmannová,29,1977-12-21,163.0
33,34,Kiiny,Lenka,Kozílková,30,1978-06-30,182.0
34,35,kikin14,Lucie,Kyzlinková,31,1979-12-31,176.0
35,36,klokinka,Lucie,Mácová,32,1980-05-16,166.0
36,37,barca.baran,Eva,Doležalová,33,1965-02-12,169.0
37,38,Barusha.K,Ilona,Edinová,34,1966-03-16,173.0
38,39,Bedruna009,Jana,Flochová,35,1967-09-08,178.0
39,40,bedrunka6,Jana,Formánková,36,1986-05-11,190.0
40,41,brachysegra,Jana,Galiová,37,1982-07-07,175.0
41,42,Diddelinka,Kateřina,Hrdličková,39,1985-01-13,181.0
42,43,Dvarfka,Kateřina,Hrušková,40,1980-05-16,164.0

### Keys inspection

Using the inspector, we can inspect primary keys per each table.

```python
primary_keys = {table: inspector.get_pk_constraint(table) for table in tables}
```

or even foreign keys
```python
foreign_keys = {table: inspector.get_foreign_keys(table) for table in tables}
```

In [11]:
# inspect the primary keys
primary_keys = {table: inspector.get_pk_constraint(table) for table in tables}

pd.Series(pd.DataFrame(primary_keys).iloc[0], name='primary_keys')

addresses                              [id_address]
contacts                               [id_contact]
meetings                               [id_meeting]
persons                                 [id_person]
persons_meetings            [id_person, id_meeting]
relationships                     [id_relationship]
types_of_contacts              [id_type_of_contact]
types_of_relationships    [id_type_of_relationship]
Name: primary_keys, dtype: object

In [12]:
# inspect foreign keys
foreign_keys = {table: inspector.get_foreign_keys(table) for table in tables}

### Example of a join

using the pandas API, we can perform the join as simply as
```python
pd.read_sql(
    sql="SELECT * FROM persons JOIN addresses ON persons.id_person",
    con=con
)
```

In [13]:
pd.read_sql(
    sql="SELECT * FROM persons INNER JOIN addresses ON persons.id_person",
    con=con
)

,id_person,nickname,name,surname,id_address,birthdate,height,id_address,town,street,house_number,ZIP
0,1,kruťas,Radek,Krůta,34,1968-09-06,164.0,1,Holice,Nad Splavem,315,53401
1,2,Lorenc,Tomáš,Lorenc,2,1984-12-06,184.0,1,Holice,Nad Splavem,315,53401
2,3,Hrudík,Milan,Hruda,3,1982-01-20,180.0,1,Holice,Nad Splavem,315,53401
3,4,Smeták,David,Kunz,4,1983-05-25,172.0,1,Holice,Nad Splavem,315,53401
4,5,Zedňas,Michal,Zedník,5,1980-03-09,176.0,1,Holice,Nad Splavem,315,53401
5,6,Zemák,Jaroslav,Zemek,6,1982-10-20,161.0,1,Holice,Nad Splavem,315,53401
6,7,Tomák,Tomáš,Tomašík,7,1979-10-11,185.0,1,Holice,Nad Splavem,315,53401
7,8,Velebník,Radek,Veleba,8,1986-04-29,194.0,1,Holice,Nad Splavem,315,53401
8,9,Stupík,Radovan,Stupka,9,1982-02-24,175.0,1,Holice,Nad Splavem,315,53401
9,10,Menča,Jaroslav,Menčík,10,1981-05-13,176.0,1,Holice,Nad Splavem,315,53401
10,11,Malina,Miroslav,Malinka,11,1984-06-14,180.0,1,Holice,Nad Splavem,315,53401
11,12,Látoš,Lubomír,Látal,10,1985-07-27,173.0,1,Holice,Nad Splavem,315,53401
12,13,Kubík,Tomáš,Kubala,12,1964-10-09,174.0,1,Holice,Nad Splavem,315,53401
13,14,Kalík,David,Kalivoda,13,1974-11-29,178.0,1,Holice,Nad Splavem,315,53401
14,15,Smeták,Tomáš,Janda,14,1989-12-01,162.0,1,Holice,Nad Splavem,315,53401
15,16,Fucha,Lubomír,Fuchs,15,1952-11-02,168.0,1,Holice,Nad Splavem,315,53401
16,17,Bárt,Stanislav,Bartoš,16,1980-12-20,177.0,1,Holice,Nad Splavem,315,53401
17,18,Beník,Svatopluk,Beneš,17,1942-07-16,180.0,1,Holice,Nad Splavem,315,53401
18,19,Ambřík,Ondřej,Ambros,18,1946-01-15,166.0,1,Holice,Nad Splavem,315,53401
19,20,Čerma,Jaroslav,Čermák,19,1979-09-30,159.0,1,Holice,Nad Splavem,315,53401
20,21,Jarča,Jaroslava,Čermáková,19,1982-06-19,160.0,1,Holice,Nad Splavem,315,53401
21,22,Dupi,Svatopluk,Dupal,20,1968-08-21,194.0,1,Holice,Nad Splavem,315,53401
22,23,Houser,Luděk,Housera,21,1975-11-18,185.0,1,Holice,Nad Splavem,315,53401
23,24,Lusi,Lucie,Houserová,21,1978-05-26,172.0,1,Holice,Nad Splavem,315,53401
24,25,Daník,Markéta,Daňková,22,1985-11-09,165.0,1,Holice,Nad Splavem,315,53401
25,26,Emicka111,Klára,Judexová,23,1971-01-12,185.0,1,Holice,Nad Splavem,315,53401
26,27,Emiii4x4,Kristýna,Kadlčíková,24,1972-02-15,177.0,1,Holice,Nad Splavem,315,53401
27,28,Helusska,Lada,Kanýzová,24,1973-03-18,168.0,1,Holice,Nad Splavem,315,53401
28,29,hilary,Lenka,Kocmanová,25,1974-04-25,170.0,1,Holice,Nad Splavem,315,53401
29,30,Igneess,Lenka,Kollariková,26,1975-05-01,170.0,1,Holice,Nad Splavem,315,53401
...,...,...,...,...,...,...,...,...,...,...,...,...
1690,14,Kalík,David,Kalivoda,13,1974-11-29,178.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1691,15,Smeták,Tomáš,Janda,14,1989-12-01,162.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1692,16,Fucha,Lubomír,Fuchs,15,1952-11-02,168.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1693,17,Bárt,Stanislav,Bartoš,16,1980-12-20,177.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1694,18,Beník,Svatopluk,Beneš,17,1942-07-16,180.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1695,19,Ambřík,Ondřej,Ambros,18,1946-01-15,166.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1696,20,Čerma,Jaroslav,Čermák,19,1979-09-30,159.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1697,21,Jarča,Jaroslava,Čermáková,19,1982-06-19,160.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1698,22,Dupi,Svatopluk,Dupal,20,1968-08-21,194.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1699,23,Houser,Luděk,Housera,21,1975-11-18,185.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1700,24,Lusi,Lucie,Houserová,21,1978-05-26,172.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1701,25,Daník,Markéta,Daňková,22,1985-11-09,165.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1702,26,Emicka111,Klára,Judexová,23,1971-01-12,185.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1703,27,Emiii4x4,Kristýna,Kadlčíková,24,1972-02-15,177.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1704,28,Helusska,Lada,Kanýzová,24,1973-03-18,168.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1705,29,hilary,Lenka,Kocmanová,25,1974-04-25,170.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1706,30,Igneess,Lenka,Kollariková,26,1975-05-01,170.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1707,31,katulka68,Lenka,Kollmannová,27,1981-10-24,168.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1708,32,kiikushka,Lenka,Kovačková,28,1976-11-28,172.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1709,33,anďa,Andrea,Kollmannová,29,1977-12-21,163.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1710,34,Kiiny,Lenka,Kozílková,30,1978-06-30,182.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1711,35,kikin14,Lucie,Kyzlinková,31,1979-12-31,176.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1712,36,klokinka,Lucie,Mácová,32,1980-05-16,166.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1713,37,barca.baran,Eva,Doležalová,33,1965-02-12,169.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1714,38,Barusha.K,Ilona,Edinová,34,1966-03-16,173.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1715,39,Bedruna009,Jana,Flochová,35,1967-09-08,178.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1716,40,bedrunka6,Jana,Formánková,36,1986-05-11,190.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1717,41,brachysegra,Jana,Galiová,37,1982-07-07,175.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1718,42,Diddelinka,Kateřina,Hrdličková,39,1985-01-13,181.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722
1719,43,Dvarfka,Kateřina,Hrušková,40,1980-05-16,164.0,40,Albrechtice nad Orlicí,T. G. Masaryka,128,51722

---

## Porting into GraphDB

---

### GraphDB Data Model

In order to port the RDBMS into GraphDB, we need to create a Data model and a Property Model ... an equivalent to RDBMS schema.

![GraphDB data model](graph_db_data_model.png)

### GraphDB Property Model

![GraphDB property model](graph_db_property_model.png)

### Export the property tables

Since we will model the relationships in the GraphDB, we can export only the 4 property tables into CSV files.

CSV can be imported into the graphdb directly, as it is universal format.

```python

# save tables to csv files
import os
os.makedirs('tables', exist_ok=True)
tables_to_export = ['persons', 'contacts', 'addresses', 'meetings']

# create dataframes
export_table_dfs = [
    pd.read_sql(sql="SELECT * FROM %s" % table, con=con)
    for table in tables_to_export
]

for i, table in enumerate(export_dfs):
    table.to_csv('tables/%s.csv' % tables_to_export[i])
    
```

You should now have all the tables in the \*.csv format in the local `tables` directory.

In [14]:
# specify tables to export
tables_to_export = ['persons', 'contacts', 'addresses', 'meetings']
export_dfs = [
    table_dfs[table] for table in tables_to_export
]

In [15]:
table_dfs['meetings']

    id_meeting                date          location      note
0            1 2007-10-17 01:42:49            square     skate
1            2 2007-10-27 15:00:00              park      None
2            3 2007-11-13 10:00:00            school      None
3            4 2007-10-14 20:00:00            cinema      None
4            5 2007-10-18 22:00:00  under city clock    flower
5            6 2007-10-24 19:00:00           theater      None
6            7 2007-12-30 10:45:00              Brno  Bláhovka
7            8 2007-10-25 15:45:00              Brno  Bláhovka
8            9 2007-11-26 12:00:00           at home     lunch
9           10 2007-12-17 16:30:00              park      None
10          11 2007-10-25 17:20:00              Brno  Bláhovka
11          12 2007-10-28 06:50:00            school      None
12          13 2008-01-10 15:45:00              Brno   Mendlák
13          14 2007-11-02 20:20:00              Brno       BVV
14          15 2008-01-13 12:00:00           at home      oběd
15          16 2008-02-17 16:30:00              park      None
16          17 2008-01-15 17:00:00              Brno  Bláhovka
17          18 2008-03-03 06:00:00            school      None

In [16]:
# save tables to csv files
import os
os.makedirs('tables', exist_ok=True)

for i, table in enumerate(export_dfs):
    table.to_csv('tables/%s.csv' % tables_to_export[i])

---

# And we're done... lets jump to [neo4j](https://neo4j.com/)!